@model distant.ViewModels.LoginViewModel





<h2>Вход</h2>
<form method="post" asp-action="Login">
    <div>
        <label>Логин</label>
        <input asp-for="UserName" name="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label>Пароль</label>
        <input asp-for="Password" name="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <button type="submit">Войти</button>
</form>
